*{
    padding: 0;
    margin: 0;
}

/* 
    cores usadas no figma:

    background-color: #0D116B;          AZUL ESCURO
    background-color: #2429A6;          AZUL MAIS CLARO
*/

/* botoes */

.botao{
    background-color: #0D116B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
}

.inscrever{
    margin-right: -45px;
}

.inscrever{
    color: #F2F2F2;
    font-weight: bolder;
}

/* botoes */

.linha-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagens-botoes{
    padding: 0px 10%;
}

.linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.separador{
    border-top: #0D116B solid 0.5px;
}

.menu ul{
    padding: 0px 15%;
    width: 90%;
    background-color: #0D116B;
    height: 50px;
    border-radius: 5px;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #fff;
    
}

.linha li{
    width: 92.47px;
    text-align: center;
}

.titulo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.agendamento{
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: rgba(36, 41, 166, 0.12);
    border-radius: 20px;
}

.media-425-agendamento{
    width: 100%;
    display: flex;
}

.titulo-carteirinha{
    margin-bottom: 10%;
}

.formulario{
    border: 1px solid black;
}

.carteirinha-forms{
    width: 32%;
    margin-left: 2%;
    align-items: center;
}

.formulario-inteiro{
    width: 76%;
    margin-left: 5%;
    margin-right: 2%;
}

.formulario-inteiro h3{
    text-align: center;
    margin-bottom: 2%;
}

.forms-1{
    display: inline-flex;
    width: 100%;
    gap: 10%;
}
.f1{
    width: 45%;
}

.f2{
    width: 45%;
}

.forms-2 {
    display: inline-flex;
    width: 100%;
    gap: 10%;
}

.f3 {
    width: 45%;
}

.f4 {
    width: 45%;
}

.botao-agen{
    width: 100%;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}

 @media (max-width: 1024px) {
    
    .titulo{
        font-size: xx-large;
    }
    .carteirinha-forms img{
        width: 256px;
        height: 192px;
    }

    .titulo-forms{
        font-size: x-large;
    }

    .titulo-carteirinha{
        font-size: x-large;
        margin-bottom: 15%;
    }


}

@media (max-width: 768px) {

    .agendamento {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    
    .media-425-agendamento {
        display: inline;
        width: 70%;
    }

    .formulario-inteiro h3{
    text-align: start;
    }

    .form-select{
        width: 222%;
    }
    
    .form-control{
        width: 100%;
    }

    .carteirinha-forms {
        width: 140%;
        margin-left: 2%;
    }
    
    .formulario-inteiro {
        width: 140%;
        margin-left: 5%;
        margin-right: 2%;
    }

    .forms-1 {
        display: inline;
    }

    .forms-2{
        display: inline;
    }


    .titulo-forms {
        font-size: medium;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .titulo-carteirinha {
        font-size: large;
        margin-bottom: 5%;
    }

    .titulo {
        font-size: xx-large;
    }

    .titulo-forms {
        font-size: large;
    }


}

@media (max-width: 925px) {      /* era 768px, mas percebi que pode colocar já em 925px */
    
    .menu ul{
        padding: 0;
    }

}

@media (max-width: 617px) {   /* era 425px */

    #imagens-botoes{
        padding: 0;
    }

    .botao{
        margin-right: 20px;
    }

    /* menu ul apartir daqui começa a usar o hambuguerzinho */
    .menu ul{
        flex-wrap: wrap;
        height: auto;
        row-gap: 10px;
    }

}

@media (max-width: 425px) {

    .agendamento {
        display: flex ;
       flex-direction: column;
       align-items: first baseline;
    }

    .media-425-agendamento{
        display: inline;
        width: 70%;
    }

    .formulario-inteiro h3{
        text-align: start;
    }
    
    .carteirinha-forms {
        width: 140%;
        margin-left: 2%;
    }
    
    .formulario-inteiro {
        width: 140%;
        margin-left: 5%;
        margin-right: 2%;
    }

    .forms-1 {
        display: inline;
    }

    .forms-2{
        display: inline;
    }

    .titulo {
        font-size: x-large;
    }

    .carteirinha-forms img {
        width: 213px;
        height: 160px;
    }

    .titulo-forms {
        font-size: large;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .titulo-carteirinha {
        font-size: large;
        margin-bottom: 15%;
    }


}

