*{
    padding: 0;
    margin: 0;
}

/* 
    cores usadas no figma:

    background-color: #0D116B;          AZUL ESCURO
    background-color: #2429A6;          AZUL MAIS CLARO
*/

/* botoes */

.botao{
    background-color: #0D116B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
}

.inscrever{
    margin-right: -45px;
}

.inscrever{
    color: #F2F2F2;
    font-weight: bolder;
}


.botao-carteirinha{
    width: 170px;
}

.botao-sobrenos{
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

/* botoes */

.linha-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagens-botoes{
    padding: 0px 10%;
}

.linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.separador-menu{
    width: 100%;
    border-top: #0D116B solid 0.5px;
}

.separador{
    width: 90%;
    margin: auto;
    border-top: #0D116B solid 0.5px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15%;
    width: 90%;
    background-color: #0D116B;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 0px;         /* porque o navegador continuava mudando o valor para 1 ou 0.5rem */
}

.menu li{
    list-style: none;
    margin: 0px 10px;
    padding: 0px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* css do carrosel, utilizei das classe do bootstrap para editar no css */

.carrossel{
    width: 70%;
    margin: 40px auto;
    height: auto;
}

.carousel-item{
    align-items: center;
}

.carousel-control-prev-icon{
    color: #000000;
}

.carousel-control-next-icon{
    color: #000000;
}

.seta{
    color: #000000;
}

.carousel-inner{
    border-radius: 5px;
}





.time-line-box{
    margin-top: 20px;
}

.time-line-box h1{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 500;
}

.time-line-box span{
    font-size: larger;
    margin-top: 60px;
    width: 90%;
    margin-left: 5%;
}


.swiper-wrapper{
    display: inline-flex;
    width: 100%;
}


.swiper-slide{
    width: 33.33%;
    position: relative;
}

.swiper-slide span{
    display: block;
    margin-bottom: 8%;
}

.swiper-slide img{
    position: relative;            /* esse position é só pq o z-index n funciona com static */
    display: block;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
}


.swiper-slide-first .timeline-bar{
    position: absolute;
    width: 50%;
    height: 10%;
    left: 50%;
    top: 15%;
    z-index: 0;
    background-color: #2429A6;
}

.swiper-slide-middle .timeline-bar{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 15%;
    z-index: 0;
    background-color: #2429A6;
}

.swiper-slide-last .timeline-bar{
    position: absolute;
    width: 50%;
    height: 10%;
    left: 0px;
    top: 15%;
    z-index: 0;
    background-color: #2429A6;
}

/* seção de carteirinha */

.section-carteirinha{
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

.linha-carteirinha{
    width: 100%;
}

.carteirinha-img{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    padding: 10px 0px; 
    margin: auto;
    padding-right: 5%;
}

.texto-carteirinha{
    padding: 10px 0px; 
    margin: auto;
}

.texto-carteirinha h2{
    margin-bottom: 5%;
}

.texto-carteirinha p {
    margin-bottom: 5%;
}


/* fim de seção de carteirinha */

.carteirinhas-disponiveis{
    margin: 5% 0 5% 0
}

/* cards */

.section-espacamento{
    margin-bottom: 5%;
}

.card-texto{
    background-color: #2429A6; 
    padding: 10px; 
    border-radius: 10px; 
    color: #fff; 
    margin-top: 25px;
}

/* fim de cards */

/* linhas do onibus */

#linhas-onibus h3{
    margin: 80px 0px 20px 0px;
}

#linhas-onibus img{
    width: 90%;
}

.listas-das-linhas{
    align-items: flex-start;
    flex-wrap: wrap; 
    row-gap: 80px;
    width: 90%;
    margin: auto;
}

.lista-linha{
    width: 32%; 
    min-width: 300px;
}

.lista-linha li{
    font-size: 14px;
}

#linhas-onibus ul{
    list-style: none;
    border-radius: 20px;
    border: #000000 solid 1px;
    padding: 20px;
}

#linhas-onibus .middle-li{
    margin-bottom: 5px;
    overflow-x: hidden;
    border-top: #000000 solid 1px;
}

.start-li{
    border-top: #000000 solid 0px;
}

/* fim das linhas de onibus */

/* parte final */

.final{
    margin: 20px auto;
    width: 90%;
}

.item-final{
    margin-top: 80px;
}

/* fim da parte final */




/* responsividade apenas da imagem da carteirinha */
@media (max-width: 1199px){
    .carteirinha-img{
        padding-right: 0px;
    }
}

/* Responsividade do HEADER */

@media (max-width: 925px) {      /* era 768px, mas percebi que pode colocar já em 925px */
    
    .menu ul{
        padding: 0;
    }

    .menu li{
        font-size: small;
    }

}

@media (max-width: 617px) {   /* era 425px */

    #imagens-botoes{
        padding: 0;
    }

    .botao{
        margin-right: 20px;
    }

    /* menu ul apartir daqui começa a usar o hambuguerzinho */
    .menu ul{
        flex-wrap: wrap;
        height: auto;
        row-gap: 10px;
    }


    .carrossel{
        width: 90%;
        margin-left: 5%;
    }
}

/* Fim da responsividade do HEADER */


/* continuar os outros media queries aqui */