*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: blue;
    width: 768px;
    padding: 0 0px;
    margin: auto;
}

img{
    max-width: 150px;
    max-height: 150px;
}

figure{
    display: flex;
    justify-content: center;
}

.cartao-icon img{
    border-radius: 50%;
    margin-bottom: 40px;
}

.wrapper > h1{
    text-align: center;
    margin: 40px 0px;
}

.seta{
    margin-bottom: 40px;
}