<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STPSP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/site/Esqueci-minha-senha.css">
</head>

<body>

  <header>
    <div class="linha-between" id="imagens-botoes">
        <div class="logo">
          <img src="/images/logo-site.png" alt="logo do Sistema de Transporte Público de São Paulo">
        </div>
        
        <div class="header-botoes">
            <button class="botao login"><a href="http://localhost:3000/logar">Login</a></button>
            <button class="botao inscrever" id="inscrever-se"><a href="http://localhost:3000/carteirinha">Adquira já</a> </button>
        </div>
    </div>

    <div class="separador-menu"></div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary menu-container" style="padding: 0px;">
      <div class="container-fluid menu-navbar">
        <button class="navbar-toggler menu-hamburguer" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-flex" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link menu-link" aria-current="page" href="http://localhost:3000/">Página
                    Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/carteirinha">Seu Cartão</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/recarregar">Recarga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/linhas">Linhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/sobre">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/atendimento">Atendimento</a>
            </li>
        </ul>
        </div>
      </div>
    </nav>
</header>



    <main>
        <section class="pagina-esqueci-senha">
            <div class="imagem-login">
                <img src="/images/Imagem Login.png" alt="">
            </div>

            <div class="esqueci-senha-forms">
                <form id="form" class="formulario-esqueci-senha">

                    <h2>Redefina sua senha</h2>

                    <div class="mb-3">
                        <label for="Nome" class="form-label">C.I ou CPF</label>
                        <input type="text" class="form-control formulario" id="cpf" >
                    </div>
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Nova Senha</label>
                        <input type="password" class="form-control formulario" id="novasenha" >
                    </div>
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Confirme a Senha</label>
                        <input type="password" class="form-control formulario"  >
                    </div>
                    <div class="botao-esqueci-senha">
                        <button type="submit" class="botao-esqueci-senha-design">Enviar</button>
                    </div>
                  </form>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="/javascripts/site/cookiemanager.js"></script>
      <script src="/javascripts/site/esqueci-minha-senha.js"></script>
</body>

</html>



