<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STPSP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/site/Faça-sua-Carteirinha.css">
</head>

<body>

  <header>
    <div class="linha-between" id="imagens-botoes">
        <div class="logo">
          <img src="/images/logo-site.png" alt="logo do Sistema de Transporte Público de São Paulo">
        </div>
        
        <div class="header-botoes">
          <button class="botao login"><a href="http://localhost:3000/logar">Login</a></button>
          <button class="botao inscrever" id="inscrever-se"><a href="http://localhost:3000/carteirinha">Adquira já</a> </button>
      </div>
    </div>

    <div class="separador-menu"></div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary menu-container" style="padding: 0px;">
      <div class="container-fluid menu-navbar">
        <button class="navbar-toggler menu-hamburguer" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-flex" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link menu-link" aria-current="page" href="http://localhost:3000/">Página
                    Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/carteirinha">Seu Cartão</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/recarregar">Recarga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/linhas">Linhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/sobre">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="http://localhost:3000/atendimento">Atendimento</a>
            </li>
        </ul>
        </div>
      </div>
    </nav>
</header>



    <main>

        <!-- Começo da Página -->

        <h1 class="titulo">Faça sua Carteirinha</h1>

        

        <section class="agendamento">
            <div class="media-425-agendamento">

                <!-- Exemplo de Carteirinha -->

                <div class="carteirinha-forms">
                    <h3 class="titulo-carteirinha">Exemplo de Carteirinha</h3>
                    <img src="/images/carteirinha.png" alt="">
                </div>

                <!-- Fim exemplo de Carteirinha -->

                <!-- Forms -->

                <form id="form" class="formulario-inteiro form">
                    <h3 class="titulo-forms">Agende seu horário</h3>
                    <div class="forms-1">
                        <div class="mb-3 f1">
                            <label for="disabledSelect" class="form-label">Cidade</label>
                            <select class="form-select formulario" id="cidade" aria-label="Default select example ">
                              <option selected>Cidade</option>
                              <option value="Caraguatatuba">Caraguatatuba</option>
                              <option value="São Sebastião">São Sebastião</option>
                              <option value="Ubatuba">Ubatuba</option>
                            </select>
                        </div>
                        <div class="mb-3 f2">
                            <label for="disabledSelect"  class="form-label">Tipo de Cartão</label>
                            <select id="tipoCarteirinha" class="form-select formulario" aria-label="Default select example">
                            <option selected>Tipo de Cartão</option>
                            <option value="PCD">PCD</option>
                            <option value="Estudante">Estudante</option>
                            <option value="Idoso">Idoso</option>
                            <option value="Comum">Comum</option>
                            <option value="Empresas">Empresas</option>
                            <option value="Acompanhante">Acompanhante</option>
                          </select>
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="Nome" class="form-label">Nome</label>
                            <input type="text" class="form-control formulario" id="nomeCompleto" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="forms-2">
                        <div class="mb-3 f3">
                            <label for="disabledSelect" class="form-label">Dia</label>
                            <select id="dia" type="time" class="form-select formulario">
                              <option selected>Escolha um Dia</option>
                            </select>
                        </div>
                        <div class="mb-3 f4">
                            <label for="disabledSelect" class="form-label">Horário</label>
                            <select id="hora"  class="form-select formulario">
                              <option selected>Escolha um Horário</option>
                            </select>
                        </div>
                    </div>
                    <div class="botao-agen">
                        <button type="submit" class="btn btn-primary botao">Enviar</button>
                    </div>

                  </form>
                <!-- Fim Forms -->
            </div>
        </section>

    </main>



    <footer>
      <div class="container-footer">
        <div class="row-footer">
      
          <!--coluna 1-->
          <div class="footer-col">
            <h4>Produtos</h4>
            <ul>
              <li><a href="#">Conta Digital</a></li>
              <li><a href="#">Cartão de transporte</a></li>
              <li><a href="#">Recarga</li>
            </ul>
          </div>
          <!--fim da coluna 1-->
      
          <!--coluna 2-->
          <div class="footer-col">
            <h4>Atendimento</h4>
            <ul>
              <li><a href="#">Atendimento whatsaap</a></li>
              <li><a href="#">Duvidas Frequentes</a></li>
              <li><a href="#">Contato institucional</a></li>
              <!--<li><a href="#">sadasfaf@gmail.com</a></li>-->
            </ul>
          </div>
          <!--fim da coluna 2-->
      
          <!--coluna 4-->
          <div class="footer-col">
            <h4>Nos siga nas redes socias</h4>
            <div class="rede-social">
              <img src="/images/instagram.png" alt="">
              <img src="/images/twitter.png" alt="">
              <img src="/images/facebook.png" alt="">
      
      
      
      
            </div>
          </div>
          <!--fim da coluna 4-->
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <script src="/javascripts/site/cookiemanager.js"></script>
        <script src="/javascripts/site/dia-agendamento.js"></script>
        <script src="/javascripts/site/horario-agendamento.js"></script>
        <script src="/javascripts/site/cadastrar-agendamento.js"></script>
</body>

</html>