<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STPSP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/site/site.style.css">
</head>
<body>

    <header>
        <div class="linha-between" id="imagens-botoes">
            <div class="logo">
              <img src="/images/logo-site.png" alt="logo do Sistema de Transporte Público de São Paulo">
            </div>
            
            <div class="header-botoes">
                <button class="botao login"><a href="./Login.html">Login</a></button>
                <button class="botao inscrever" id="inscrever-se">Adquira já</button>
            </div>
        </div>

        <div class="separador-menu"></div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary menu-container" style="padding: 0px;">
          <div class="container-fluid menu-navbar">
            <button class="navbar-toggler menu-hamburguer" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu-flex" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link menu-link" aria-current="page" href="index.html">Página Inicial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="Faça-sua-Carteirinha.html">Seu Cartão</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="recarga-cartao.html">Recarga</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="Sobre-nos.html">Sobre Nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="Atendimento.html">Atendimento</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>



    <main>

        <!-- Um examplo do bootstrap, mas personalizado do jeito que a gente precisa no site -->

        <!-- CARROSEL -->

        <div id="carouselExampleAutoplaying" class="carousel slide w-90 carrossel carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#"><img src="/images/Recarregue já.png" class="d-block w-100 h-auto" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="./Faça-sua-Carteirinha.html"><img src="/images/Faça já sua carteirinha.png". class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/images/Tire suas dúvidas.png" class="d-block w-100" alt="..."></a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon seta" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon seta" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

          <!-- Fim do Carrosel -->

          <div class="separador"></div>

          <!-- seção com tres icones -->

          <section class="time-line-box">

            <h1>Tecnologia e Facilidade para nossos clientes</h1>

            <div class="swiper-container text-center">
              <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-first">
                  
                  <div class="swiper-content">
                    <div class="timeline-icon">
                      <img src="/images/timeline-icon1.jpg" alt="">
                      <div class="timeline-bar"></div>
                    </div>
                    <span>Rapidez no Embarque</span>
                  </div>
                  
                </div>
                <div class="swiper-slide swiper-slide-middle">
                    <div class="swiper-content">
                      <div class="timeline-icon">
                        <img src="/images/timeline-icon2.jpg" alt="">
                        <div class="timeline-bar"></div>
                      </div>
                      <span>Recarga rápida e sem dificuldades</span>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-last">
                    <div class="swiper-content">
                      <div class="timeline-icon">
                        <img src="/images/timeline-icon3.jpg" alt="">
                        <div class="timeline-bar"></div>
                      </div>
                      <span>Sem uso de notas</span>
                    </div>
                </div>
              </div>
            </div>
          </section>

          <section class="time-line-box-2">      <!-- seção com tres icones responsiva -->
            <div class="swiper-responsive">
              <div><img src="/images/timeline-icon1.jpg" alt=""></div>
              <span>Rapidez no Embarque</span>
            </div>

            <div class="swiper-responsive-com-linha">
              <div class="swiper-responsive-linha"></div>
            </div>

            <div class="swiper-responsive">
              <div><img src="/images/timeline-icon2.jpg" alt=""></div>
              <span>Recarga rápida e sem dificuldades</span>
            </div>

            <div class="swiper-responsive-com-linha">
              <div class="swiper-responsive-linha"></div>
            </div>

            <div class="swiper-responsive">
              <div><img src="/images/timeline-icon3.jpg" alt=""></div>
              <span>Sem uso de notas</span>
            </div>
          </section>

          <div class="separador"></div>

          <section class="container-fluid section-carteirinha"> 
            <div class="row linha-carteirinha">
              <figure class="col-12 col-xl-5 carteirinha-img">
                <img src="/images/faça-sua-carteira.png" class="img-fluid">
              </figure>

              <div class="col-12 col-xl-7 texto-carteirinha">
                <h2>ADQUIRA JÁ SUA CARTEIRINHA</h2>
                <p>Com nossa carteirinha você não irá mais perder tempo naquelas filas no transporte público, além de evitar o uso de notas agilizando sua vida na hora de entrar no onibus.</p>
                <button class="botao botao-carteirinha">Adquira já</button>
              </div>
            </div>
          </section>





          <div class="carteirinhas-disponiveis">
            <h2 class="text-center">Estas são nossas carteirinhas disponíveis</h2>
          </div>


<!--                           CARDS DOS CARTÔES        -->


          <section class="section-espacamento section-cards">
            <div class="row row-cols-1 row-cols-md-3 g-4 cards-carteirinhas">
              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img1.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Padrão</h5>
                    <p class="card-text card-texto">O Cartão Padrão oferece a conveniência de viajar sem a necessidade de usar dinheiro a cada viagem. Basta recarregá-lo e embarcar de forma rápida e fácil em nossos ônibus.</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img2.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Estudante</h5>
                    <p class="card-text card-texto">O Cartão Estudante é uma escolha inteligente para alunos, proporcionando tarifas com desconto que aliviam o custo das viagens diárias para a escola ou a universidade. Uma maneira econômica de se locomover.</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img3.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="text-align: center;">Empresas</h5>
                    <p class="card-text card-texto">O Cartão Empresa simplifica as viagens de negócios, oferecendo às empresas a capacidade de gerenciar os gastos de transporte de seus funcionários de maneira eficiente. Relatórios detalhados e opções de pagamento flexíveis tornam tudo mais conveniente.</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img4.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Idoso</h5>
                    <p class="card-text card-texto">Para cidadãos com mais de 60 anos, o Cartão Idoso oferece tarifas reduzidas, permitindo que nossos idosos viajem com economia e conforto, reconhecendo a valiosa contribuição deles para a comunidade.</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img5.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center">PCD</h5>
                    <p class="card-text card-texto">O Cartão PCD é projetado para garantir que pessoas com deficiência tenham acesso facilitado ao transporte público, com descontos e recursos especiais que atendem às suas necessidades específicas de mobilidade.</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="/images/card-img4.svg" class="card-img-top" height="210px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Acompanhante</h5>
                    <p class="card-text card-texto">O Cartão de Acompanhante é uma opção conveniente que permite que você viaje junto com um titular de Cartão PCD em nossos serviços de transporte. Garanta viagens juntos de forma eficiente e econômica, apoiando a acessibilidade e inclusão.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

            <!--               FIM DOS CARDS DOS CARTÔES        -->

          <div class="separador"></div>


          <section id="linhas-onibus">
              <h3 class="text-center">Atendemos todo o litoral norte</h3>

              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/d/embed?mid=188kWh6gGDa90sxm9tS8JbR8dBII&hl=en_US&ehbc=2E312F" width="640" height="480"></iframe>
              </div>

              <h3 class="text-center">Linhas</h3>

              <div class="linha listas-das-linhas">


                <div class="lista-linha">
                  <h5 class="text-center">Caraguatatuba</h5>
                  <ul>
                    <li class="start-li">LINHA 100 - TINGA - OLARIA VIA RODOVIÁRIA</li>
                    <li class="middle-li">LINHA 101 - MORRO DO ALGODÃO</li>
                    <li class="middle-li">LINHA 102 - VAPAPESCA</li>
                    <li class="middle-li">LINHA 103 - PORTO NOVO</li>
                    <li class="middle-li">LINHA 104 - RIO DO OURO</li>
                    <li class="middle-li">LINHA 105 - H REGIONAL - JARAGUAZINHO</li>
                    <li class="middle-li">LINHA 106 - H REGIONAL - MASSAGUAÇÚ</li>
                  </ul>
                </div>


                <div class="lista-linha">
                  <h5 class="text-center">São Sebastião</h5>
                  <ul>
                    <li class="start-li">LINHA 100 - ENSEADA - CENTRO</li>
                    <li class="middle-li">LINHA 101 -  TOPOLÂNDIA - CANTO DO MAR</li>
                    <li class="middle-li">LINHA 102 - JUQUEHY - BORACÉIA</li>
                    <li class="middle-li">LINHA 103 - GUAECÁ - CENTRO</li>
                    <li class="middle-li">LINHA 104 - BARRA DO SAHY - BALEIA VERDE</li>
                    <li class="middle-li">LINHA 105 - BARRA DO UNA - CENTRO</li>
                    <li class="middle-li">LINHA 106 - CASCALHO - JUQUEHY</li>
                  </ul>
                </div>

                <div class="lista-linha">
                  <h5 class="text-center">Ubatuba</h5>
                  <ul>
                    <li class="start-li">LINHA 100 - TABATINGA</li>
                    <li class="middle-li">LINHA 101 - PEREQUÊ MIRIM</li>
                    <li class="middle-li">LINHA 102 - IPIRANGUINHA</li>
                    <li class="middle-li">LINHA 103 - MONTE VALÉRIO</li>
                    <li class="middle-li">LINHA 104 - UBATUMIRIM</li>
                    <li class="middle-li">LINHA 105 - CAMBURI</li>
                    <li class="middle-li">LINHA 106 - TAQUARAL</li>
                  </ul>
                </div>


              </div>
          </section>

          <div class="separador"></div>


          <section class="final">
              <h1 class="text-center">STPSP</h1>
              <h3 class="text-center item-final">Buscamos agilidade e facilidade para nosso cliente</h3>
              <div class="botao-sobrenos">
                <button class="botao botao-sobrenos item-final"><a href="./Sobre-nos.html">Sobre nós</a></button>
              </div>
          </section>
          
    </main>


    <footer>
      <div class="container-footer">
          <div class="row-footer">

              <!--coluna 1-->
              <div class="footer-col">
                  <h4>Produtos</h4>
                  <ul>
                      <li><a href="#">Conta Digital</a></li>
                      <li><a href="#">Cartão de transporte</a></li>
                      <li><a href="#">Recarga</li>
                  </ul>
              </div>
              <!--fim da coluna 1-->

              <!--coluna 2-->
              <div class="footer-col">
                  <h4>Atendimento</h4>
                  <ul>
                      <li><a href="#">Atendimento whatsaap</a></li>
                      <li><a href="#">Duvidas Frequentes</a></li>
                      <li><a href="#">Contato institucional</a></li>
                      <!--<li><a href="#">sadasfaf@gmail.com</a></li>-->
                  </ul>
              </div>
              <!--fim da coluna 2-->

              <!--coluna 4-->
              <div class="footer-col">
                  <h4>Nos siga nas redes socias</h4>
                  <div class="rede-social">
                      <img src="/images/instagram.png" alt="">
                      <img src="/images/twitter.png" alt="">
                      <img src="/images/facebook.png" alt="">




                  </div>
              </div>
              <!--fim da coluna 4-->
          </div>
      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/javascripts/site/cookiemanager.js"></script>
</body>
</html>