<footer>
    <div class="container-footer">
        <div class="row-footer">

            <!--coluna 1-->
            <div class="footer-col">
                <h4>Produtos</h4>
                <ul>
                    <li><a href="#">Conta Digital</a></li>
                    <li><a href="#">Cartão de transporte</a></li>
                    <li><a href="#">Recarga</li>
                </ul>
            </div>
            <!--fim da coluna 1-->

            <!--coluna 2-->
            <div class="footer-col">
                <h4>Atendimento</h4>
                <ul>
                    <li><a href="#">Atendimento whatsaap</a></li>
                    <li><a href="#">Duvidas Frequentes</a></li>
                    <li><a href="#">Contato institucional</a></li>
                    <!--<li><a href="#">sadasfaf@gmail.com</a></li>-->
                </ul>
            </div>
            <!--fim da coluna 2-->

            <!--coluna 4-->
            <div class="footer-col">
                <h4>Nos siga nas redes socias</h4>
                <div class="rede-social">
                    <img src="/images/instagram.png" alt="">
                    <img src="/images/twitter.png" alt="">
                    <img src="/images/facebook.png" alt="">




                </div>
            </div>
            <!--fim da coluna 4-->
        </div>
    </div>
</footer>