<header>
  <div class="linha-between" id="imagens-botoes">
      <div class="logo">
        <img src="/images/logo-site.png" alt="logo do Sistema de Transporte Público de São Paulo">
      </div>
      
      <div class="header-botoes">
        <button class="botao login"><a href="http://localhost:3000/logar">Login</a></button>
          <button class="botao inscrever" id="inscrever-se">Adquira já</button>
      </div>
  </div>

  <div class="separador-menu"></div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary menu-container" style="padding: 0px;">
    <div class="container-fluid menu-navbar">
      <button class="navbar-toggler menu-hamburguer" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse menu-flex" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link menu-link" aria-current="page" href="http://localhost:3000">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="http://localhost:3000/carteirinha">Seu Cartão</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="http://localhost:3000/recarregar">Recarga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="http://localhost:3000/sobre">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="http://localhost:3000/atendimento">Atendimento</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>