<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprovado2</title>
</head>
<link rel="stylesheet" href="/stylesheets/onibus/approved.css">
<body>
    <div class="wrapper">
        <!-- dimensoes de tablet, ou seja, tudo em 768 x 1024       o altura de 1024 talvez seja opcional -->
        <figure class="logo"><img src="/images/logo-onibus.png" alt=""></figure> <!-- logo da empresa, esta imagem é temporária, trocar depois -->
        
        <!-- separando os objetos no wrapper em dois -->

        <section>
            <h1>Prossiga</h1>

            <figure class="errorpng"><img src="/images/Ellipse 1.png" alt=""></figure>  <!-- imagem de erro -->

           
            <h2>Nome do cliente</h2>

            <h2>Tarifa: 0 </h2> 
            
            <h3>Saldo: 0 </h2>
        </section>
    </div>

    
</body>
</html>