<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="/stylesheets/onibus/onibus.css">

</head>
<body>
    <form id="form" style="position: fixed; bottom: -500px;">
        <label for="leitor">leitor</label>
        <input id="leitor" name="leitor" type="text" autofocus/>
        <button type="submit">submit</button>
    </form>

    <div class="wrapper">
        <div id="data-e-hora"></div>
        <!-- dimensoes de tablet, ou seja, tudo em 768 x 1024       o altura de 1024 talvez seja opcional -->
        <figure class="logo"><img src="/images/logo-onibus.png" alt=""></figure> <!-- logo da empresa, esta imagem é temporária, trocar depois -->
        
        <!-- separando os objetos no wrapper em dois -->

        <section>
            <h1>Aproxime o cartão</h1>

            <figure class="seta"><img src="/images/seta-icone.png" alt=""></figure> <!-- seta para baixo -->
            
            <figure class="cartao-icon"><img src="/images/aproxime-cartao.png" alt=""></figure> <!-- foto de teste, trocar depois -->
        </section>

        <script>

            

            function mostrarDataHora() {
                const elementoDataHora = document.getElementById("data-e-hora");
                elementoDataHora.style.color = "rgb(255, 255, 255)";
                elementoDataHora.style.fontFamily = "Inria Sans, sans-serif";
                elementoDataHora.style.fontWeight = "bold"
                elementoDataHora.style.fontSize = "35px"
                elementoDataHora.style.marginBottom = "20px"
                function atualizarDataHora() {
                    const data = new Date();
                    const dataFormatada = data.toLocaleDateString();
                    const horaFormatada = data.toLocaleTimeString();
                    elementoDataHora.textContent = `Data: ${dataFormatada} - Hora: ${horaFormatada}`
                }
                setInterval(atualizarDataHora, 1000)
                atualizarDataHora()
            }
            mostrarDataHora()

            document.addEventListener("DomContentLoaded", function (){
                const leitor = document.getElementById("leitor")
                leitor.focus()
            })




            
        </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/javascripts/onibus/onibus-pagina.js"></script>
</body>
</html>