
<body>

    <main>
        <section class="pagina-esqueci-senha">
            <div class="imagem-login">
                <img src="../img/Imagem Login.png" alt="">
            </div>

            <div class="esqueci-senha-forms">
                <div class="formulario-esqueci-senha">

                    <h2>Redefina sua senha</h2>

                    <div class="mb-3">
                        <label for="Nome" class="form-label">C.I ou CPF</label>
                        <input type="text" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Nova Senha</label>
                        <input type="text" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Confirme a Senha</label>
                        <input type="password" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                    </div>
                    <div class="botao-esqueci-senha">
                        <button type="submit" class="botao-esqueci-senha-design">Enviar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>