
        <h1 class="titulo">Faça sua Carteirinha</h1>

        

        <section class="agendamento">
            <div class="media-425-agendamento">

                <!-- Exemplo de Carteirinha -->

                <div class="carteirinha-forms">
                    <h3 class="titulo-carteirinha">Exemplo de Carteirinha</h3>
                    <img src="../img/carteirinha.png" alt="">
                </div>

                <!-- Fim exemplo de Carteirinha -->

                <!-- Forms -->

                <div class="formulario-inteiro">
                    <h3 class="titulo-forms">Agende seu horário</h3>
                    <div class="forms-1">
                        <div class="mb-3 f1">
                            <label for="disabledSelect" class="form-label">Cidade</label>
                            <select id="disabledSelect" class="form-select formulario "></select>
                        </div>
                        <div class="mb-3 f2">
                            <label for="disabledSelect" class="form-label">Tipo de Cartão</label>
                            <select id="disabledSelect" class="form-select formulario "></select>
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="Nome" class="form-label">Nome</label>
                            <input type="text" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="forms-2">
                        <div class="mb-3 f3">
                            <label for="disabledSelect" class="form-label">Dia</label>
                            <select id="disabledSelect" class="form-select formulario"></select>
                        </div>
                        <div class="mb-3 f4">
                            <label for="disabledSelect" class="form-label">Horário</label>
                            <select id="disabledSelect" class="form-select formulario"></select>
                        </div>
                    </div>
                    <div class="botao-agen">
                        <button type="submit" class="btn btn-primary botao">Enviar</button>
                    </div>

                </div>
                <!-- Fim Forms -->
            </div>
        </section>

    </main>


