
    <main>
    <section class="pagina-login">
        <div class="imagem-login">
            <img src="../img/Imagem Login.png" alt="">
        </div>

        <div class="login-forms">
            <div class="formulario-login">

                <h2>Login</h2>

                <div class="mb-3">
                    <label for="Nome" class="form-label">C.I ou CPF</label>
                    <input type="text" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="Nome" class="form-label">Senha</label>
                    <input type="password" class="form-control formulario" id="Nome" aria-describedby="emailHelp">
                </div>
                <div class="botao-login">
                    <button type="submit" class="botao-login-design">Enviar</button>
                </div>
                <div class="separador-login"></div>
                <a  href="Esqueci-minha-senha.html">Esqueceu sua senha?</a>
            </div>
        </div>
    </section>
    </main>
