

    <main>

        <div class="imagem-sobre-nos">
            <img src="../img/Imagem Sobre Nós.png" alt="">
            <h1 class="texto-img">Conheça Nossos Devs</h1>
        </div>
        <div class="alternative-500px">
        <h1 >Conheça Nossos Devs</h1>
        </div>

        <section class="devs">
            <div class="dev">
                <div class="foto">
                    <img src="../img/Devs sem a foto.jpg" alt="">
                </div>
                <div class="descrição-dev">
                    <h4>Thiago Inácio Lima</h4>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic alias eum nesciunt corporis atque molestias, tempore doloremque sapiente fugiat non rem nisi odit dicta modi excepturi perferendis blanditiis. Tenetur.</p>
                    
                </div>
            </div>

                <div class="separador"></div>

            <div class="dev">
                <div class="foto">
                    <img src="../img/Devs sem a foto.jpg" alt="">
                </div>
                <div class="descrição-dev">
                    <h4>Brian</h4>
                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic alias eum nesciunt corporis atque molestias,
                        tempore doloremque sapiente fugiat non rem nisi odit dicta modi excepturi perferendis blanditiis. Tenetur.</p>
                
                </div>
            </div>

                <div class="separador"></div>
                
            <div class="dev">
                <div class="foto">
                    <img src="../img/Devs sem a foto.jpg" alt="">
                </div>
                <div class="descrição-dev">
                    <h4>Richard</h4>
                
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic alias eum nesciunt corporis atque molestias,
                        tempore doloremque sapiente fugiat non rem nisi odit dicta modi excepturi perferendis blanditiis. Tenetur.</p>
                </div>
            </div>
        </section>
    </main>