*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* cores usadas no figma: 
        background-color: #1A226F;    AZUL
        background-color: #F15249;    VERMELHO
        background-color: #54C147;    VERDE


    O padrão de margin e padding usados são de 80px

    o font-size do h1 presente é de 34px, por mais que no figma esteja com 30px
*/

body{
    display: flex;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F15249;
    width: 768px;
    height: 100%;
    padding: 50px 0px;
    margin: auto auto;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    margin-bottom: 80px;
    border: black solid 2px;
}

section  h1{
    color: white;
    font-size: 34px;
    text-align: center;
    margin-bottom: 180px;
}

.errorpng{
    display: flex;
    justify-content: center;     /* não possui margin-bottom para não acabar juntando com o padding de 80px embaixo do wrapper */
}